# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Streamlit
.streamlit/

# Supabase
.supabase/

# Misc
.DS_Store
Thumbs.db
